# Workflow to build and deploy FORD docs for FTorch
name: BuildDocs

# Controls when the workflow will run
on:
  # Triggers the workflow on pushes to the "main" branch, i.e., PR merges
  push:
    branches: [ "main"]

  # Triggers the workflow on pushes to open pull requests to main with documentation changes
  pull_request:
    branches: [ "main" ]
    paths:
      - '.github/workflows/build_docs.yml'
      - '**.md'
      - 'pages/*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Workflow run - one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build-docs"
  build-docs:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        with:
          persist-credentials: false
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ford

      - name: Build docs with FORD
        run: ford FTorch.md

      - name: Test docs build
        if: github.ref != 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: docs-test # The branch the action should deploy to.
          folder: doc      # The folder the action should deploy.
          dry-run: true    # Don't actually push to pages, just test if we can

      - name: Deploy Documentation for main
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: doc      # The folder the action should deploy.
